@using AdminPanel.ViewModels.Auth
@model RegisterVM


<div class="login-register-area">
    <div class="container ">

        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8 col-sm-10 my-5">
                <form method="post" action="#">
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>

                        <div class="row">
                           <div style="color:red" asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-6 col-12">
                                <label>First Name</label>
                                <input asp-for="FirstName" type="text" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"> </span>

                            </div>
                            <div class="col-md-6 col-12">
                                <label>Last Name</label>
                                <input asp-for="LastName" type="text" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"> </span>

                            </div>
                            <div class="col-md-12">
                                <label>Email Address*</label>
                                <input asp-for="Email" type="email" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"> </span>

                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <input asp-for="Password" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"> </span>

                            </div>
                            <div class="col-md-6">
                                <label>Confirm Password</label>
                                <input asp-for="ConfrimPassword" type="password" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfrimPassword" class="text-danger"> </span>

                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                    Register
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
