@media (max-width: 480px) {
    .double-card-tiles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;
        color: black;
    }
    .menu{
        display: block; 
        color: white;
        padding: 15px; 
        border-radius: 12px;
        border: 1px 
        solid white;
      
    }
    
    .nav-menu{
        display: none;
    }
}


@media (max-width: 990px) {
 
    .menu{
        display: block; 
        color: white;
        padding: 15px; 
        border-radius: 12px;
        border: 1px 
        solid white;
      
    }
    
    .nav-menu{
        display: none;
    }
}