@media (min-width: 1200px) {
    .intro-image{
   display: block;
    }
    .intro-section {
        align-items: start;
    }
    .buttons {
        display: flex;
        gap: 30px;
        justify-content: start;
        margin: 20px;
    
    
    }
    .intro-section {
        text-align: start;
    
    
        padding:70px 20px;
        background-color: #212529;
    
    }
    .info-text {
        width: 500;
      align-items: start;
    }
    .intro-section h1{
        margin: 20px;
    }
    .intro-section h3 {
        opacity: 60%;
        font-size: 150%;
        font-weight: 100;
        
       
     
        text-align: start;
        align-items: start;
    }
    
}