/* RESET */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: white;
}

.up-line {
    border: 3px solid rgb(220 57 45);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #212529;
}

.nav-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.7;
    transition: opacity 0.4s;
}

.nav-menu li:hover {
    opacity: 1;
}

.site-name {
    font-size: 30px;
}

.intro-section {
    text-align: center;
    padding: 70px 20px;
    background-color: #212529;
}

.intro-section h1 {
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.info-text {
    width: 600px;
    max-width: 100%;

}

.intro-section h3 {
    opacity: 0.6;
    font-size: 1.25rem;
    font-weight: 100;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

button {
    font-size: 20px;
    font-family: inherit;
}

.start-button {
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
}

.more-button {
    padding: 15px 30px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.4s;
}

.more-button:hover {
    background-color: white;
    color: black;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image {
    display: none;
}


/* card tiles*/

.card-tiles {
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 190px;
}

.card-tiles h1 {
    color: black;
    font-size: 32px;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 90%;
    max-width: 312px;
}

.card-tiles h2 {
    color: black;
    opacity: 80%;
    font-size: 20px;
    margin: 10px 0px;

}

.card-tiles i {
    background-color: #1271fd;
    color: white;
    padding: 12px;
    border-radius: 15px;
    font-size: 24px;
}

.card-tiles p {
    color: black;
    font-size: 16px;
    max-width: 400px;
}

.double-card-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
    color: black;
}


.desciription-text {
    text-align: center;
    margin: 50px 0px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    background-color: #f8f9fa;
}

.description-pararaph {
    max-width: 600px;
    opacity: 0.8;
    color: black;
    font-size: 24px;
    margin: 0 auto;

}


.menu {
    display: none;
}

.description-bottom-text {
    display: flex;
    margin: 20px 00px;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.description-bottom-text i {
    color: blue;
}

.description-bottom-text p {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.description-bottom-text img {
    border-radius: 50%;
}

/* cards header section*/

.cards-headers-section {

    text-align: center;
    margin-bottom: 40px;
    color: black;

}

.cards-headers-section h2 {
    margin: 20px 20px;
    opacity: 80%;
    font-size: 1.8rem;
}

.cards-headers-section p {
    margin: 0 auto;
    max-width: 600px;
    opacity: 60%;
    font-size: 1.25rem;
}

/*card */
.cards {
    display: flex;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    max-width: min-content;
    margin: 20px;
    border-radius: 15px;
    max-height: min-content;
    color: black;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
    transition: 400ms;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-top-image {
    border-radius: 15px 15px 0 0;
    width: 400px;
}

.card-info {
    padding: 15px 20px;
}

.card-info-type {
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    display: inline;

    font-size: 0.7rem;
    border-radius: 15px;
    background-color: #0d6efd;
}


.card-footer-image {
    width: 40px;

    border-radius: 50%;
}

.card-info h5 {
    opacity: 90%;
    font-size: 1.25rem;
    margin: 15px 0px 17px 0px;

}

.info-content {
    height: 120px;
    overflow: hidden;
    opacity: 90%;
    margin-bottom: 15px;
}


.card-footer {
    margin: 20px 0px;
    display: flex;
}

.card-footer img {
    width: 40px;
    height: 40px;
    margin-right: 17px;
}

.card-footer-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-user-name {
    font-weight: bolder;
    font-size: 0.875rem;
    padding: 0px !important;
    margin: 0px !important;
}

.card-date-time {
    font-size: 0.875rem;
    opacity: 80%;
    padding: 0px !important;
    margin: 0px !important;
}

/*footer sign up form*/

.form {
    padding: 50px;
    display: flex;
    max-width: 1150px;
    width: 85%;
    margin:0px auto;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgb(29 120 253);
    margin: 0 auto;
    margin-bottom: 100px;
}

.form-texts p {
    opacity: 80%;
    margin-top: 5px;
}


.form-input {
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    display: flex;
    justify-content: center;
}

.input input {
    font-size: 15px;
    padding: 10px 20px;
    border: none;
   width: 250px;
    border-radius: 12px 0 0 12px;
    outline: none;
}

.input button {
    border-radius: 0 12px 12px 0;
    border: solid 1px white;
    color: white;
    background-color: transparent;
    font-size: 18px;
    padding: 10px 20px;
}

.input button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transition: 0.4s;
}

.form-input p {
    text-align: center;
    max-width: 380px;
    margin-top: 10px;
    opacity: 80%;
}


/*footer line*/

.footer-line {
    background-color: rgb(33, 37, 41);
    color: white;
    display: flex;
    padding: 35px 80px;
    justify-content: space-between;
}

.footer-line h2 {
    font-weight: normal;
    font-size: 16px;
}

.footer-line ul {
   
    display: flex;

}

.footer-line a {
    color: white;
     text-decoration: underline white;
    margin-right: 30px;
}