@media (min-width: 1200px) {
    .intro-image {
        display: block;
    }

    .intro-section {
        align-items: start;
    }

    .buttons {
        display: flex;
        gap: 30px;
        justify-content: start;
        margin: 20px;


    }

    .intro-section {
        text-align: start;
    padding: 70px 20px;
        background-color: #212529;

    }

    .intro-section h3 {
        margin: 20px;
        width: auto;
        max-width: 600px;
        text-align: start;
    }

    .info-text {
        padding-top: 20px;
        align-items: start;
    }

    .intro-section h1 {
        margin: 20px;
    }

    .intro-section h3 {
        opacity: 60%;
        font-size: 1.25rem;
        font-weight: 100;
        text-align: start;
        align-items: start;
    }

    .intro-image {
        width: 500px;
        height: auto;
    }


 
}


@media (max-width: 1200px) {

    .double-card-tiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        padding: 40px;
        color: black;
    }

    .card-tiles {
        display: inline;
        padding-right: 40px;
        justify-content: space-between;
        gap: 100px;
    }

    .card-tiles h1 {
        margin-left: 40px;
        margin-top: 20px;
    }
}
@media (min-width: 990px) {

.menu{
    display: block;
     color: white;
    padding: 15px;
     border-radius: 12px;
    border: 1px 
    solid white;
  
}


}