* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #faf5f2;
}

#logo {
    text-align: center;
}

#logo img {
    height: 400px;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}


hr {
    margin: 20px auto;
    display: block;
    width: 85%;
    text-align: center;
    border: #faca22 solid;
    border-width: 1px;
}

.paragraphs {
    width: 85%;
    margin: 20px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraphs h3 {
    color: #faca22;
    margin-bottom: 5px;
}