*{
    margin: 0;
    padding: 0;
}
.close{
    position: absolute;
    display: inline-block;
    right: 0px;
}
button{
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: white;
}
img{
    width: 50px;
}
.nav{
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    background: rgb(0, 212, 113);

    translate: -300px;
    z-index: 3;
    transition: all 0.7s ease; 
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
    
    flex-direction: column;
}
li{
    list-style: none;
    margin-top: 60px;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease; 
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
 
 margin-left: 30px;
}
.display{
    translate: 0px;
}