* {
    margin: 0px;
    padding: 0px;
}


.container {
    width: 1200px;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

  height: 100px;
    background-color: #212529;
}

nav ul {
    list-style: none;
    display: flex;

}

nav h1 {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.753);
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}


nav ul li a:hover {
    transition: ease 400ms;
    color: rgb(255, 255, 255);
}