<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <header>
        <nav>
            <a href="/Home/About">About</a> |
            <a href="/Home/Contact">Contact</a> |
            <a href="/Home/Blog">Blog</a>
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
