* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-page {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;


}

#detail {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  height: calc(100vh - 150px);
}

.detail-box h1 {
  color: greenyellow;
  margin-bottom: 20px;
}

.spinner-border {
    display: block;
    width: 4rem !important;
    height: 4rem !important;
    border-width: 0.4em !important;
}

.loading-error {
    height: calc(100vh - 150px);
    display: none;
    align-items: center;
    justify-content: center;
    color: rgb(224, 224, 224);
}


.error-box {
    display: flex;
    border-radius: 8px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    border: 1px solid red;
    background-color: rgb(75, 0, 0);
}

.error-box i {
    transform: translate(-50, -50);
    font-size: 25px;
    height: 100%;
    margin: auto 0;
}

.error-box h4 {
    margin: 0px !important;
}


#loading {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;

}



.back-button{
    background-color: #212529;
    border: none;
    color: white;
  padding: 10px 30px;
}


#detail a{
  text-decoration: none !important;
  color: white !important;
}